@import url(http://fonts.googleapis.com/css?family=Boogaloo);

/*
Boostrap custom:

@navbarBackground: #5E5B55
@navbarBackgroundHighlight: #7D7871
@navbarLinkColor: #D9D8D5
@navbarLinkColorActive: #D9D8D5
@dropdownBackground: @navbarBackgroundHighlight
@dropdownLinkColor: @navbarLinkColor
@dropdownLinkBackgroundHover: @navbarBackground
*/

body {
	/*font-family: 'Trebuchet MS', Helvetica, sans-serif;*/
	font-family: Verdana, Geneva, sans-serif;
	color: #595959;
	background: #E6E0C8 url(../img/bodyBg.gif) repeat-x 0 0;
	padding-top: 50px;
	padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6, fieldset legend {
	font-family: 'Boogaloo', cursive;
	font-weight: normal;
	line-height: 1;
	margin: 10px 0;
	color: #8A867D;
}

a {
	color: #318391;
	text-decoration: none;
}

a:hover, a:active {
	color: #F3861B;
	text-decoration: none;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

h3, h4, h5, h6 {
	font-size: 20px;
}

ul {
	list-style: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.cake-sql-log {}
.cake-sql-log td, .cake-sql-log th {
	border: 1px solid #CCC;
	padding: 3px;
}

.clear {
	clear: both;
}

.item-count {
	background-color: #F1EEE0;
	color: #8A867D;
	padding: 1px 2px;
	font-size: 9px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #D9D4BD;
}

.ui-autocomplete {
	z-index: 15000;
	width: 200px;
}

.breadcrumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

label {
	display: inline;
}

input[type=radio] {
	width: 30px;
	margin: 0;
}

/*
Fix issue: Bootstrap distorts some Google Maps Controls and Overlays
https://github.com/twitter/bootstrap/issues/1552
*/
#gmap img, #gmap_overview img {
	max-width: none;
}

#gmap label, #gmap_overview label  { 
	width: auto;
	display: inline;
}
/* endfix */

#logo, #slogan {
	text-align: center;
}

#slogan {
	font-size: 10px;
}

#content-wrapper {
	background-color: #FAFAF5;
	padding: 20px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}

#footer {
	padding: 20px;
	color: #999;
	background-color: #4D4A45;
	border-top: 1px solid #FFF;
	-webkit-border-radius: 0px 0px 10px 10px;
	border-radius: 0px 0px 10px 10px;
}

#content-wrapper, #footer {
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

#footer a {
	color: #FFF;
}

#footer a:hover, #footer a:active {
	color: #CDB581;
}

#homepage-carousel {
	max-width: 930px;
	margin: 0 auto;
}

.paginator-counter {
	margin: 10px 0;
}

.links-cats, .ads-cats, .links-subcats, .ads-subcats, .links-countries-filters, .ads-countries-filters {
	margin: 0;
	padding: 5px 10px;
	background-color: white;
	border: 1px dotted #BBB;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.links-countries-filters, .ads-countries-filters {
	margin-bottom: 10px;
}

.links-cats ul, .ads-cats ul, .links-subcats ul, .ads-subcats ul {
	margin: 0;
}

.links-cats ul li a, .ads-cats ul li a {
	font-weight: bold;
}

.links-cats ul li ul li a, .ads-cats ul li ul li a {
	font-weight: normal;
}

.links-cats ul li ul, .ads-cats ul li ul, .links-subcats ul li ul, .ads-subcats ul li ul {
	margin: 0 0 10px 25px;
}

/*
.links-subcats, .ads-subcats {
	
}

.links-subcats ul, .ads-subcats ul {
	padding: 0;
	margin: 0;
}

.links-subcats ul li, .ads-subcats ul li {
	float: left;
	width: 33%;
}
*/

.links-browse-item, .ads-browse-item, .events-browse-item, .photos-browse-item {
	margin-bottom: 10px;
	padding: 0 5px;
	background-color: #FFF;
	border: 1px dotted #bbb;
	border-radius: 10px;
}

.links-browse-item-title, .ads-browse-item-title, .events-browse-item-title {
	padding-top: 10px;
	font-weight: bold;
}

.links-browse-item-url {
	color: #F3861B;
	float: left;
}

.links-browse-item-thumb {
	text-align: center;
	padding: 10px;
}

.links-view-thumb {
	text-align: center;
}

/*
.links-countries-filters, .ads-countries-filters {}
.links-countries-filters ul li, .ads-countries-filters ul li {
	float: left;
	width:20%;
}
.links-countries-filters a, .ads-countries-filters a {
	font-weight: bold;
}*/

h2#links-cat-description, .links-browse h2, .ads-browse h2, .links-countries-filters h2, .ads-countries-filters h2 {
	background: transparent url(../img/hr-bg.gif) repeat-x 0 100%;
	padding-bottom: 10px;
	margin: 10px 0;
}

.events-browse h2:before, .links-view h2:before, .ads-view h2:before, .events-view h2:before {
	content: " ";
	display: block;
	background: transparent url(../img/ribbon-wrap.png) no-repeat 0 -52px;
	height: 52px;
	width: 52px;
	position: absolute;
	bottom: 0;
	left: -40px;
	z-index: -1;
}

.events-browse h2, .links-view h2, .ads-view h2, .events-view h2 {
	position: relative;
	height: 52px;
	line-height: 52px;
	background: transparent url(../img/ribbon.png) no-repeat 12px 0;
	z-index: 0;
	color: #EFDABE;
}

@media (max-width: 767px) { 
	.events-browse h2:before, .links-view h2:before, .ads-view h2:before, .events-view h2:before,
	.events-browse h2, .links-view h2, .ads-view h2, .events-view h2
	{
		height: auto;
		line-height: normal;
		background-image: none;
		color: #DB7818;
	}

}

/*Home slider*/
#homepages-slider {
	position: relative;
}

#slider {
	margin: 0;
	padding: 0;
}

#slider li {
	margin: 0;
	padding: 0;
	display: block;
}

#slider li img {
	display: block;
	height: 390px;
}

#slider-bottom {
	height: 55px;
	width: 100%;
	background: transparent url(../img/pageBg-slideBottom.png) no-repeat 50% 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

#slider-prev, #slider-next {
	position: absolute;
	top: 40%;
	display: block;
	width: 51px;
	height: 64px;
	outline: 0;
}

#slider-prev:hover, #slider-next:hover {
	background-position: 0 -64px;
}

#slider-prev span, #slider-next span{
	display: none;
}

#slider-prev {
	left: -15px;
	background: transparent url(../img/slide-previous.png) no-repeat 0 0;
}

#slider-next {
	right: -15px;
	background: transparent url(../img/slide-next.png) no-repeat 0 0;
}

#slider-pagination {
	position: absolute;
	top: 10px;
	right: 10px;
}

#slider-pagination a {
	background: transparent url(../img/slide-pager.png) no-repeat 0 0;
	width: 16px;
	height: 15px;
	display: inline-block;
}

#slider-pagination a:hover {
	background-position: -16px 0;
}

#slider-pagination a.selected {
	background-position: -32px 0;
}

#slider-pagination a span {
	display: none;
}

/*End slider*/

/* Forms */
form label {
	display: block;
}

form .input input[type=text],
form .input textarea,
form .input select {
	width: 90%;
}

form .error .error-message,
form .error label {
	color: #B94A48;
}


form .error input,
form .error textarea,
form .error select {
	border-color: #B94A48;
}

form .required label:after {
	color: #e32;
	content: ' *';
	display: inline;
}

/* Shops */
.shops-browse-item {
	height: 260px;
	text-align: center;
}